header {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #205898;
    border-bottom: 3px solid rgba(91, 27, 27, 0.23);
    margin-bottom: 20px;
}

/* I really like this colour and don't want to lose it. #2f6bb0 */

img#logo, h1#heading {
    display: inline-block;
}

a#header {
    color:inherit;
}

a#header:focus, a#header:hover {
    text-decoration: none;
}
/* Because we put the header inside an <a> tag we need to overrride the default bootstrap and user css settings.*/


div#errorbox {
    text-align: center;
}

a#close {
    margin-left: 10px   ;
}

div#error {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
}

img#logo {
    height: 110px;
    width: auto;
    vertical-align: middle;
}

h1#heading {
    margin-left: 5px;
    vertical-align: middle;
    font-family: "Racing Sans One";
    letter-spacing: -0.8px;
    font-size: 46px;
    padding-bottom: 18px;
    /* the padding bottom is needed because it feels more centered than using text-align center in the div */
}

div#content {
    margin: 0 auto;
    max-width: 975px;
    /* width chosen based on this article https://www.newfangled.com/optimal-site-width/ */
}

div#maincontent, div#sidebar {
    float: left;
}

div#sidebar {
    margin-left: 10px;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    border: solid 1px #7b7b7b;
}
h4 {
    font-size: 20px;
    font-family: "Helvetica";
}

h3#error {
    color: #cb0000;
}

body {
    background-color: #effcff;
}

div#askarea {
    width: 800px;
    height: 40px;
    margin: 0 auto;
    text-align: center;;
}

input.askbar {
    width: 600px;
    height: inherit;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    border: solid 1px #7b7b7b;
    /*  All this border stuff came about because firefox has a border-radius by default. I chose to override that but
        I then discovered that the text input in firefox had a border but only on the top and left of the input text.
        I spent maybe an hour trying to tinkering with different border settings but it never worked. My keywords
        weren't working. The solution came about when I searched 'firefox input text shadow' and then it worked. So I'm
        including this comment in case I ever run into this problem in the future again.

        ctrl+f tags: "firefox" "input" "text" "border" "left" "top" "input text shadow" "input text left top border" */
}

div#answerbox {
    width: 700px;
}

div#answerbuttonbox {
    text-align: right;
}

input.button {
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
    background-color: #37A9E5;
    color: white;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #7b7b7b;
    border-radius: 3px;
}

input.button:hover {
    background-color: #319ad0;
}

textarea.answerbar {
    width: inherit;
    height: 100px;
}

input#askbutton {
    height: inherit;
    width: 60px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
}

input#askbutton:hover {
    background-color: #319ad0;
}

div#answers {
    margin-top: 20px;
    width: 700px;
}

span#timeasked {
    float: right;
}
