{%  extends 'qpanda/base.html' %}

{% block content %}

    {% if question %}
        <h3>{{ question }}</h3>
    {% endif %}

    {% if error %}
        <div id="errorbox">
            <div class="alert alert-danger" id="error">
                <a href="#" class="close" id="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error }}</strong>
            </div>
        </div>
    {%  endif %}

    <form action="/{{ question_id }}/answer/" method="POST">
        {% csrf_token %}

        <div id="answerbox">
            <h4>Enter your answer:</h4>
            {{ form.answer_text }}
            <div id="answerbuttonbox">
                <input class="button" id="answerbutton" type="submit" value="Answer">
            </div>
        </div>
    </form>

    {% if answers %}
        <div id="answers">
            <ul>
                {% for a in answers %}
                    <li>{{ a.answer_text }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}
