{%  extends 'qpanda/base.html' %}

{% block content %}

    {% if question %}
        <h3>{{ question }}</h3>
    {% endif %}

    {% if error %}
        <div id="errorbox">
            <div class="alert alert-danger" id="error">
                <a href="#" class="close" id="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error }}</strong>
            </div>
        </div>
    {%  endif %}

    <form action="/{{ question_id }}/answer/" method="POST">
        {% csrf_token %}

        <div id="answerarea">
            <h4>Enter your answer:</h4>
            {{ form.answer_text }}
            <input class="button" type="submit" value="Answer">
        </div>

        {% if answers %}
            <div>
                <ul>
                    {% for a in answers %}
                        <li>{{ a.answer_text }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>

{% endblock %}
