{%  extends 'qpanda/base.html' %}

{% block content %}
    {% comment %}
    I spent so long trying to figure out how to call a 'higher level' domain. It's a really complicated search
    query. But yes. You can just use the linux '../'. And I realise now as I type this that I should have searched
    'how to submit form to parent url'. Saying 'higher level domain' was showing stuff about top level domains.
    {% endcomment %}

    {% if error %}
        <div class="alert alert-danger" id="error">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ error }}</strong>
        </div>
    {%  endif %}

    <form action="/qpanda/question/" method="POST">
        {% csrf_token %}

        <div id="askarea">
            <h4>Enter your question:</h4>
            {{ form.question_text }}
            <input class="button" id="askbutton" type="submit" value="Ask">
        </div>
    </form>

{% endblock %}