{% block sidebar %}
    <h4>Welcome to QuestionPanda!</h4>
    <p class="aboveinput">Username</p>
    <form id="authenticate" action="/login/">
        {% csrf_token %}
        <input type="text" id="username" class="sidebar" placeholder="Username"/>
        <p class="aboveinput">Password</p>
        <input type="password" id="password" class="sidebar" placeholder="Password"/>
        <div id="hiddenregister">
            <p class="aboveinput">Confirm password</p>
            <input type="password" id="confirmpassword" class="sidebar" placeholder="Confirm password"/>
        </div>
        <div id="registerlogin">
            <input type="submit" class="button smbutton wd49" id="login" value="Login"/>
            <input type="button" class="button smbutton wd49" id="register" value="Register"/>
            <input type="hidden" class="button smbutton wd49" id="hiddenregisterbutton" value="Register"/>
        </div>
    </form>
{% endblock %}
