{% block sidebar %}
    <h4>Welcome to QuestionPanda!</h4>
    <p class="aboveinput">Username</p>
    <input type="text" id="username" class="sidebar" placeholder="Username"/>
    <p class="aboveinput">Password</p>
    <input type="password" id="password" class="sidebar" placeholder="Password"/>
    <div id="registerlogin">
        <input type="submit" class="button smbutton wd49" value="Login"/>
        <input type="submit" class="button smbutton wd49" value="Register"/>
    </div>
{% endblock %}
